# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [46]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import save_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("C:/Users/khanh/OneDrive/Desktop/Fintech and Blockchain Bootcamp/Week 13/Challenge/Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [9]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [10]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [13]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [14]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data)

# Review the DataFrame
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [18]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']]], axis=1)

# Review the Dataframe
encoded_df

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [19]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [20]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.loc[:, encoded_df.columns != 'IS_SUCCESSFUL']

# Review the features DataFrame
X.head()

,0,1,2,3,4,5,6,7,8,9,...,106,107,108,109,110,111,112,113,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [21]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [24]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = pd.DataFrame(scaler.fit_transform(X))

# Fit the scaler to the features training dataset
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train))
X_test_scaled = pd.DataFrame(scaler.fit_transform(X_test))

C:\Users\khanh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\khanh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\khanh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\khanh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\khanh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\khanh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [26]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  16

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

16

In [28]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  16

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

16

In [37]:
# Create the Sequential model instance
nn = Sequential()

In [38]:
# Add the first hidden layer
nn.add(Dense(hidden_nodes_layer1, input_shape=(number_input_features,), activation='relu'))

In [39]:
# Add the second hidden layer
nn.add(Dense(hidden_nodes_layer2, activation='relu'))

In [40]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(number_output_neurons, activation='sigmoid'))

In [41]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 16)                1872

 dense_4 (Dense)             (None, 16)                272

 dense_5 (Dense)             (None, 1)                 17

=================================================================
Total params: 2,161
Trainable params: 2,161
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [42]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [43]:
# Fit the model using 50 epochs and the training data
history = nn.fit(X_train, y_train, epochs=50, validation_data=(X_test, y_test))

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 11896.7148 - accuracy: 0.4887 - val_loss: 6676.1582 - val_accuracy: 0.4708
Epoch 2/50
804/804 [==============================] - 1s 957us/step - loss: 8720.3281 - accuracy: 0.5019 - val_loss: 13106.9131 - val_accuracy: 0.4708
Epoch 3/50
804/804 [==============================] - 1s 974us/step - loss: 4997.6279 - accuracy: 0.5016 - val_loss: 1043.1058 - val_accuracy: 0.4708
Epoch 4/50
804/804 [==============================] - 1s 963us/step - loss: 8848.5898 - accuracy: 0.5246 - val_loss: 6252.8018 - val_accuracy: 0.5292
Epoch 5/50
804/804 [==============================] - 1s 987us/step - loss: 1570.2412 - accuracy: 0.5129 - val_loss: 137.9583 - val_accuracy: 0.4708
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 78.3780 - accuracy: 0.4903 - val_loss: 86.2840 - val_accuracy: 0.5292
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 81.7386 - accuracy: 0.4987 - val_loss: 568.6517 - val_accuracy: 0.5292
Epoch 8/50
804/804 [==============================] - 1s 967us/step - loss: 591.9124 - accuracy: 0.4992 - val_loss: 60.9125 - val_accuracy: 0.5292
Epoch 9/50
804/804 [==============================] - 1s 988us/step - loss: 184.4949 - accuracy: 0.5160 - val_loss: 212.7932 - val_accuracy: 0.4708
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 33.0021 - accuracy: 0.5082 - val_loss: 74.8248 - val_accuracy: 0.5292
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 3.5587 - accuracy: 0.6395 - val_loss: 0.6264 - val_accuracy: 0.6926
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6190 - accuracy: 0.6930 - val_loss: 0.6097 - val_accuracy: 0.6943
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6874 - accuracy: 0.5540 - val_loss: 0.6929 - val_accuracy: 0.5292
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5335 - val_loss: 0.6916 - val_accuracy: 0.5292
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 16/50
804/804 [==============================] - 1s 998us/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 18/50
804/804 [==============================] - 1s 998us/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 20/50
804/804 [==============================] - 1s 999us/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 25/50
804/804 [==============================] - 1s 965us/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 28/50
804/804 [==============================] - 1s 990us/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6914 - val_accuracy: 0.5292
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6914 - val_accuracy: 0.5292
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6916 - val_accuracy: 0.5292
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335 - val_loss: 0.6915 - val_accuracy: 0.5292

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [44]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 146ms/epoch - 545us/step
Loss: 0.6915390491485596, Accuracy: 0.5292128324508667

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [47]:
# Set the model's file path
file_path = "C:/Users/khanh/OneDrive/Desktop/Fintech and Blockchain Bootcamp/Week 13/Challenge/AlphabetSoup.h5"
# Export your model to a HDF5 file
save_model(nn, file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [48]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [49]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [50]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 32

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

32

In [52]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [53]:
# First hidden layer
nn_A1.add(Dense(hidden_nodes_layer1_A1, input_shape=(number_input_features,), activation='relu'))

# Output layer
nn_A1.add(Dense(number_output_neurons_A1, activation='sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 32)                3744

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,777
Trainable params: 3,777
Non-trainable params: 0
_________________________________________________________________

In [55]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [56]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train, y_train, epochs=50, validation_data=(X_test, y_test))

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 25969.4102 - accuracy: 0.4999 - val_loss: 384.0881 - val_accuracy: 0.5565
Epoch 2/50
804/804 [==============================] - 1s 976us/step - loss: 27947.1211 - accuracy: 0.5127 - val_loss: 22348.9707 - val_accuracy: 0.5292
Epoch 3/50
804/804 [==============================] - 1s 968us/step - loss: 20552.5293 - accuracy: 0.5215 - val_loss: 4514.9321 - val_accuracy: 0.5292
Epoch 4/50
804/804 [==============================] - 1s 971us/step - loss: 6296.9858 - accuracy: 0.5091 - val_loss: 5276.2905 - val_accuracy: 0.4708
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 47820.1445 - accuracy: 0.4991 - val_loss: 401.3843 - val_accuracy: 0.5292
Epoch 6/50
804/804 [==============================] - 1s 1000us/step - loss: 34910.6602 - accuracy: 0.5117 - val_loss: 26857.6816 - val_accuracy: 0.5292
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 13188.4482 - accuracy: 0.5381 - val_loss: 119701.9062 - val_accuracy: 0.5292
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 21934.4316 - accuracy: 0.5103 - val_loss: 4671.6631 - val_accuracy: 0.5292
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 11217.7617 - accuracy: 0.5343 - val_loss: 1143.2546 - val_accuracy: 0.5652
Epoch 10/50
804/804 [==============================] - 1s 989us/step - loss: 23015.4141 - accuracy: 0.5311 - val_loss: 50859.4492 - val_accuracy: 0.4708
Epoch 11/50
804/804 [==============================] - 1s 967us/step - loss: 29427.0098 - accuracy: 0.5159 - val_loss: 15814.3848 - val_accuracy: 0.4708
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 28561.0059 - accuracy: 0.5605 - val_loss: 368.6443 - val_accuracy: 0.5789
Epoch 13/50
804/804 [==============================] - 1s 985us/step - loss: 10847.7441 - accuracy: 0.5094 - val_loss: 6096.7812 - val_accuracy: 0.6072
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 28018.9922 - accuracy: 0.5582 - val_loss: 2719.5676 - val_accuracy: 0.5293
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 19901.5156 - accuracy: 0.5365 - val_loss: 3696.2690 - val_accuracy: 0.6437
Epoch 16/50
804/804 [==============================] - 1s 991us/step - loss: 8972.8350 - accuracy: 0.5368 - val_loss: 22926.6973 - val_accuracy: 0.5292
Epoch 17/50
804/804 [==============================] - 1s 980us/step - loss: 22590.5488 - accuracy: 0.5636 - val_loss: 17949.0977 - val_accuracy: 0.5292
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 23028.3145 - accuracy: 0.5431 - val_loss: 7398.0303 - val_accuracy: 0.4728
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 17698.1992 - accuracy: 0.5836 - val_loss: 14047.0195 - val_accuracy: 0.5292
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 21309.6641 - accuracy: 0.5428 - val_loss: 6826.3179 - val_accuracy: 0.4727
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 13260.6055 - accuracy: 0.5645 - val_loss: 30525.5059 - val_accuracy: 0.4708
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 21915.4102 - accuracy: 0.5489 - val_loss: 5755.8228 - val_accuracy: 0.5307
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 22081.0391 - accuracy: 0.6026 - val_loss: 696.3243 - val_accuracy: 0.6643
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 16471.0293 - accuracy: 0.5341 - val_loss: 898.2543 - val_accuracy: 0.6292
Epoch 25/50
804/804 [==============================] - 1s 987us/step - loss: 10616.6094 - accuracy: 0.5685 - val_loss: 677.9328 - val_accuracy: 0.6400
Epoch 26/50
804/804 [==============================] - 1s 1000us/step - loss: 5593.7056 - accuracy: 0.5877 - val_loss: 152.2644 - val_accuracy: 0.6257
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 20517.9336 - accuracy: 0.5407 - val_loss: 1563.3293 - val_accuracy: 0.6309
Epoch 28/50
804/804 [==============================] - 1s 994us/step - loss: 2836.9597 - accuracy: 0.5844 - val_loss: 30.7173 - val_accuracy: 0.6321
Epoch 29/50
804/804 [==============================] - 1s 973us/step - loss: 15892.1602 - accuracy: 0.5799 - val_loss: 1906.3121 - val_accuracy: 0.5757
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 6152.4194 - accuracy: 0.5684 - val_loss: 6334.3965 - val_accuracy: 0.4922
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 12081.4023 - accuracy: 0.5652 - val_loss: 3984.5710 - val_accuracy: 0.5920
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 2846.2737 - accuracy: 0.6219 - val_loss: 768.4894 - val_accuracy: 0.6827
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 12917.2012 - accuracy: 0.6077 - val_loss: 6084.7822 - val_accuracy: 0.5595
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 3123.3665 - accuracy: 0.6010 - val_loss: 17733.7656 - val_accuracy: 0.4708
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 22390.6621 - accuracy: 0.5110 - val_loss: 20755.5156 - val_accuracy: 0.4708
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 16138.2549 - accuracy: 0.6181 - val_loss: 837.7835 - val_accuracy: 0.6805
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 12181.0625 - accuracy: 0.6047 - val_loss: 6625.2109 - val_accuracy: 0.4724
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 15163.5645 - accuracy: 0.5505 - val_loss: 143.7184 - val_accuracy: 0.6725
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 16076.8115 - accuracy: 0.5981 - val_loss: 353.3777 - val_accuracy: 0.6711
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 12069.3740 - accuracy: 0.5774 - val_loss: 179.7006 - val_accuracy: 0.6960
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 10176.9121 - accuracy: 0.5757 - val_loss: 7080.6719 - val_accuracy: 0.5376
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 15440.1689 - accuracy: 0.5814 - val_loss: 463.8383 - val_accuracy: 0.6899
Epoch 43/50
804/804 [==============================] - 1s 983us/step - loss: 9803.2051 - accuracy: 0.5995 - val_loss: 48330.1211 - val_accuracy: 0.5292
Epoch 44/50
804/804 [==============================] - 1s 984us/step - loss: 16248.2529 - accuracy: 0.5501 - val_loss: 5365.5430 - val_accuracy: 0.4813
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 5675.1411 - accuracy: 0.5767 - val_loss: 1799.2518 - val_accuracy: 0.6274
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 3216.2534 - accuracy: 0.6169 - val_loss: 422.5413 - val_accuracy: 0.6561
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 11444.9756 - accuracy: 0.5669 - val_loss: 1607.0431 - val_accuracy: 0.6699
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 16992.7695 - accuracy: 0.5753 - val_loss: 30347.4336 - val_accuracy: 0.4708
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 18138.0938 - accuracy: 0.5744 - val_loss: 591.4437 - val_accuracy: 0.6900
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 3530.6909 - accuracy: 0.6358 - val_loss: 1202.9034 - val_accuracy: 0.6763

#### Alternative Model 2

In [57]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [58]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [59]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 64

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

64

In [61]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [62]:
# First hidden layer
nn_A2.add(Dense(hidden_nodes_layer1_A2, input_shape=(number_input_features,), activation='relu'))

# Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 64)                7488

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 7,553
Trainable params: 7,553
Non-trainable params: 0
_________________________________________________________________

In [64]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [65]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test))

Epoch 1/20
804/804 [==============================] - 1s 1ms/step - loss: 13446.9102 - accuracy: 0.5036 - val_loss: 1464.0522 - val_accuracy: 0.5292
Epoch 2/20
804/804 [==============================] - 1s 939us/step - loss: 19691.9336 - accuracy: 0.4988 - val_loss: 11149.1211 - val_accuracy: 0.4708
Epoch 3/20
804/804 [==============================] - 1s 949us/step - loss: 49001.6523 - accuracy: 0.4921 - val_loss: 138219.2656 - val_accuracy: 0.5292
Epoch 4/20
804/804 [==============================] - 1s 967us/step - loss: 12092.2803 - accuracy: 0.5254 - val_loss: 77256.7188 - val_accuracy: 0.4708
Epoch 5/20
804/804 [==============================] - 1s 988us/step - loss: 32387.2441 - accuracy: 0.5170 - val_loss: 8376.1270 - val_accuracy: 0.4708
Epoch 6/20
804/804 [==============================] - 1s 997us/step - loss: 31560.1113 - accuracy: 0.5390 - val_loss: 4361.1025 - val_accuracy: 0.5292
Epoch 7/20
804/804 [==============================] - 1s 977us/step - loss: 39920.8516 - accuracy: 0.5151 - val_loss: 37.4095 - val_accuracy: 0.5537
Epoch 8/20
804/804 [==============================] - 1s 1ms/step - loss: 27580.9219 - accuracy: 0.5299 - val_loss: 45056.1914 - val_accuracy: 0.4708
Epoch 9/20
804/804 [==============================] - 1s 1ms/step - loss: 26054.2695 - accuracy: 0.5180 - val_loss: 4069.5991 - val_accuracy: 0.6316
Epoch 10/20
804/804 [==============================] - 1s 984us/step - loss: 23136.9961 - accuracy: 0.5516 - val_loss: 90.4646 - val_accuracy: 0.5780
Epoch 11/20
804/804 [==============================] - 1s 983us/step - loss: 7140.3633 - accuracy: 0.5213 - val_loss: 9616.0684 - val_accuracy: 0.4708
Epoch 12/20
804/804 [==============================] - 1s 991us/step - loss: 9293.3379 - accuracy: 0.5365 - val_loss: 461.5334 - val_accuracy: 0.5756
Epoch 13/20
804/804 [==============================] - 1s 990us/step - loss: 19727.0664 - accuracy: 0.5183 - val_loss: 1274.6812 - val_accuracy: 0.6120
Epoch 14/20
804/804 [==============================] - 1s 1ms/step - loss: 11272.4678 - accuracy: 0.5393 - val_loss: 19510.2012 - val_accuracy: 0.4708
Epoch 15/20
804/804 [==============================] - 1s 1ms/step - loss: 17333.2812 - accuracy: 0.5019 - val_loss: 19137.7188 - val_accuracy: 0.4708
Epoch 16/20
804/804 [==============================] - 1s 1ms/step - loss: 24091.2832 - accuracy: 0.5190 - val_loss: 33268.0117 - val_accuracy: 0.4708
Epoch 17/20
804/804 [==============================] - 1s 997us/step - loss: 7065.7290 - accuracy: 0.5300 - val_loss: 62.9559 - val_accuracy: 0.5307
Epoch 18/20
804/804 [==============================] - 1s 976us/step - loss: 30557.0898 - accuracy: 0.5202 - val_loss: 10215.9668 - val_accuracy: 0.4708
Epoch 19/20
804/804 [==============================] - 1s 968us/step - loss: 1854.5486 - accuracy: 0.5544 - val_loss: 34090.9844 - val_accuracy: 0.5292
Epoch 20/20
804/804 [==============================] - 1s 993us/step - loss: 27285.8184 - accuracy: 0.5164 - val_loss: 15260.7129 - val_accuracy: 0.4708

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [66]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 140ms/epoch - 521us/step
Loss: 0.6915390491485596, Accuracy: 0.5292128324508667

In [67]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 1202.9034 - accuracy: 0.6763 - 143ms/epoch - 535us/step
Loss: 1202.9034423828125, Accuracy: 0.6762682199478149

In [68]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 15260.7129 - accuracy: 0.4708 - 141ms/epoch - 525us/step
Loss: 15260.712890625, Accuracy: 0.4707871675491333

### Step 3: Save each of your alternative models as an HDF5 file.

In [69]:
# Set the file path for the first alternative model
file_path = "C:/Users/khanh/OneDrive/Desktop/Fintech and Blockchain Bootcamp/Week 13/Challenge/AlphabetSoup_ALT1.h5"

# Export your model to a HDF5 file
save_model(nn_A1, file_path)

In [70]:
# Set the file path for the second alternative model
file_path = "C:/Users/khanh/OneDrive/Desktop/Fintech and Blockchain Bootcamp/Week 13/Challenge/AlphabetSoup_ALT2.h5"

# Export your model to a HDF5 file
save_model(nn_A2, file_path)